@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap');

body {
  font-family: 'Comic Neue', cursive;
}

li:nth-child(even) {
  background: #ddd;
}

.red {
  color: rgb(185 28 28);
}
